<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>v-for循环</title>
</head>
<body>
    <div id="app">
        <div>水果列表</div>
        <ul>
            <li v-for="item in fruits">{{item}}</li>

        </ul>
        <ul>
            <li v-for="(item, index) in fruits">{{item +'--'+ index}}</li>

        </ul>
    </div>

    <script src="lib/vue.js"></script>
    <script>
        /**
         * v-show的原理是设置元素的display
         * @type {Vue}
         */
        var vm = new Vue({
            el: '#app',
            data: {
                fruits: ["app", "orange", "banna"]
            },
            methods: {

            }
        })
    </script>
</body>
</html>